.circle-image {
  border-radius: 50%;
  height: 200px;
  border: 5px solid lightblue;
}
.output {
  border: 2px solid black;
  margin-top: 100px;
}
.inputbox .reset {
  /* height: 40px; */
  border: 2px solid red;
  font-size: 1.5rem;
}
.profile-image {
  border: 2px solid blue;
}
.container {
  text-align: center;
  margin-top: 50px;
}
